# SPDX-License-Identifier: MIT
# Match the pinned transitional engine's style at this numerical boundary.
Language: Cpp
BasedOnStyle: Google
Standard: c++20
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
ReflowComments: true
DerivePointerAlignment: false
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
FixNamespaceComments: true
NamespaceIndentation: None
